.k-art-logo{
    font-family: Caveat;
    color: #365f91;
    font-size: 50px;
    margin: 0px;
    align-self: center;
    text-decoration: none;
}
.k-art-logo-white{
    display: flex;
    font-family: Caveat;
    color: white;
    font-size: 30px;
    margin: 0px;
    align-self: center;
    text-decoration: none;
    margin-top: 100px;
}
@media only screen and (max-width:700px) {
    .k-art-logo{
        width: 100%;
        margin-left: 20px;
    }
    
}
@media only screen and (min-width:700px) {
    .k-art-logo-white{
        display: none;
    }
    
}

@media only screen and (min-width:701px) and (max-width:999px) {
    .k-art-logo{
        font-size: 35px;
    }
  }
  @media only screen and (min-width:1000px) and (max-width:1199px) {
      
  }